<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-0">
        <p align="center">• Turning used oil into quality burner fuel, providing economical energy solutions</p> 
        <p align="center">• Contact us to discuss your used oil or energy problems</p> 
        <p align="center">• Email admin@socoenergy.org</p> 
      </div>
      <div class="col-lg-4">
        <p align="center">• Advanced processing to remove water and other particulates</p>
        <p align="center">• Family owned & operated</p>
        <p align="center">• SOCO ENERGY CORPORATION is registered with the EPA and adheres to all local, state, and federal regulations</p>
      </div>
      <div class="col-lg-4">
         <p align="center"><u>HOURS</u></p>
         <p align="center">M-F 9:00 am - 5:00 pm</p>
         <p align="center">Saturday - Closed</p>
         <p align="center">Sunday - Closed</p>
      </div>
    </div>
  </div>
</section>
